<div class="alert alert-block alert-success">
    <h1 align="center"> Naive Bayse (Social Network Ads Dataset) </h1>
    <h3 align="center"><a href="https://github.com/amirhosein-ziaei">Amirhosein Ziaei</a></h3>
</div>

## What is Naive Bayes?

Naive Bayes is a **classification** algorithm that works based on the Bayes theorem. Before explaining about Naive Bayes, first, we should discuss Bayes Theorem. Bayes theorem is used to find the probability of a hypothesis with given evidence.

<p align="center">
    <img src="images/naive-bayse.png" width="680"\>
</p>

In this, using Bayes theorem we can find the probability of A, given that B occurred.

> A is the hypothesis and B is the evidence.

> P(B|A) is the probability of B given that A is True.

> P(A) and P(B) is the independent probabilities of A and B.

## The concept behind the algorithm

Let’s understand the concept of the Naive Bayes Theorem through an example. We are taking a dataset of employees in a company, our aim is to create a model to find whether a person is going to the office by driving or walking using salary and age of the person.

<p align="center">
    <img src="images/data_1.png" width="680"\>
</p>

* Note that we are taken age on the X-axis and Salary on the Y-axis.

In the above, we can see 30 data points in which red points belong to those who are walking and green belongs to those who are driving.

<p align="center">
    <img src="images/bayse_1.png" width="680"\>
</p>

Now let’s add a new data point into it. Our aim is to find the category that the new point belongs to.

<p align="center">
    <img src="images/bayse_2.png" width="680"\>
</p>

## *Importing Libraries*

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import warnings
warnings.filterwarnings('ignore')

## *Importing Dataset*

We are using the Social network ad dataset. The dataset contains the details of users in a social networking site to find whether a user buys a product by clicking the ad on the site based on their salary, age, and gender.

In [4]:
df = pd.read_csv('Dataset/Social_Network_Ads.csv')

## *Exploratory Data Analysis and Visualization*

In [5]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
pd.crosstab(df.Gender,df.Purchased)

Purchased    0   1
Gender
Female     127  77
Male       130  66

In [8]:
df['Gender'].value_counts()

Female    204
Male      196
Name: Gender, dtype: int64

In [9]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

| Question      |Answer
| :---        |    :----:   
| Number of Instances      | 400       
| Number of Features   | 3
| Class Distribution      | 257 No, 143 Yes
| Number of Missing Values      | 0       
| Number of Classes      | 2       
| Task   | Classification

## *Train Data*